{% load i18n %}
{% load crud_tags %}
{% if is_paginated %}
<div class="col-lg-12">
<ul class="pagination" style="float:right;">
    {% if page_obj.has_previous %}
        <li class="paginate_button">
            <span><a id="btn-ajax-prev" href="{% crud_inline_url base_model object 'list' namespace %}?page={{ page_obj.previous_page_number }}">{% trans 'Anterior' %}</a></span>
        </li>
    {% endif %}
        <li class="paginate_button">
            <span>{% trans "Página" %} {{ page_obj.number }} {% trans "de" %} {{ page_obj.paginator.num_pages }}.</span>
        </li>
    {% if page_obj.has_next %}
        <li class="paginate_button">
            <span><a id="btn-ajax-proximo" href="{% crud_inline_url base_model object 'list' namespace %}?page={{ page_obj.next_page_number }}">{% trans 'Próximo' %}</a></span>
        </li>
{% endif %}
</ul>
</div>
<script type="text/javascript">
    $(document).ready(function (){
        $('#btn-ajax-proximo, #btn-ajax-prev').click(function(){
            $.ajax({
                url: $(this).attr('href'),
                type: 'get',
                success: function(data){
                    $('#{{ name }}_myList').html(data.content);
                    let res = $('#{{ name }}_myList').attr('data-refresh-url').split('?page');
                    $('#{{ name }}_myList').attr('data-refresh-url', res[0] + '?page=' + ({{ inline_ajax_page }} + 1));
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
           return false;
        });

    });

</script>
{% endif %}
