{% load i18n crud_tags%}

{% if is_paginated %}
<div class="col-lg-12">
<ul class="pagination" style="float:right;">
    {% if page_obj.has_previous %}
        <li class="paginate_button">
            <span><a href="{% get_querystring_for_page request.GET.copy page_obj.previous_page_number %}">{% trans 'Anterior' %}</a></span>
        </li>
    {% endif %}
        <li class="paginate_button">
            <span>{% trans "Página" %} {{ page_obj.number }} {% trans "de" %} {{ page_obj.paginator.num_pages }}.</span>
        </li>
    {% if page_obj.has_next %}
        <li class="paginate_button">
            <span><a href="{% get_querystring_for_page request.GET.copy page_obj.next_page_number %}">{% trans 'Próximo' %}</a></span>
        </li>
{% endif %}
</ul>
</div>
{% endif %}
