{% load i18n %}
{% load crispy_forms_tags %}
{% load crud_tags %}
{% load static %}

{% if not form.helper %}
  {{ form.media }}
{% endif %}

<form
    id="{{name}}_{{object.pk}}_addedit"
    action="{% crud_inline_url base_model inline_model action namespace %}"
    method="POST" enctype="multipart/form-data"
    {% comment %} data-replace-inner="#edit_modal_inner"
    data-refresh-inner="#{{name}}_myList" {% endcomment %}
    data-ajax-submit=""
    data-success="success"
    onsubmit="">

    <div class="modal-body">
        {% csrf_token %}
        <div class="box-body row">
            <div class="col-md-12">
                {% if form.helper %}
                    {% crispy form %}
                {% else %}
                    {{ form|crispy }}
                {% endif %}
            </div>
        </div>
    </div>

   <div class="modal-footer">
       <div class="form-group">
           <div class="controls">
               <button
                   id="{{name}}_{{object.pk}}_addedit_submit"
                   class="btn btn-primary">{% trans "Salvar" %}</button>
               <a href="javascript:void(0);"
                   onclick="$('#{{name}}_editList').html('');"
                   class="btn btn-warning"
                   data-dismiss="modal">{% trans "Cancelar" %}</a>
           </div>
       </div>
   </div>
</form>

<script>
    function success(response) {
        if (response.content.trim() == '') {
            $('#edit_modal').modal('hide');
            $.get(
                $('#{{name}}_myList').attr('data-refresh-url'),
                function(res){
                    $('#{{name}}_myList').html(res.content)
                }
            );

        }else{
            $('#edit_modal_inner').html(response.content);
        }
    }
    $(document).ready(function () {
        $('#edit_modal').modal('show');


        $('#edit_modal .dateinput').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR',
            autoclose: true
        });

         $('.modal select[data-select!="multiselect"]select:not([data-autocomplete-light-url]):not(.ignore-select2)').select2({
             dropdownParent: $('#edit_modal')
         });

        // necessario sobrescrever o submit para enviar arquivos
         $('#{{name}}_{{object.pk}}_addedit').submit(function(){
            var dados = new FormData(this);
            var $this = $(this);

            $.ajax({
                url: $this.attr('action'),
                type: $this.attr('method'),
                data: dados,
                processData: false,
                cache: false,
                contentType: false,
                success: success,
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            return false;

         });
        $("#edit_modal input[data-number='yes']").each(function (){
            VMasker(document.getElementById($(this).attr('id'))).maskMoney();
        });

        $('#edit_modal .nav-tabs .nav-link.active').click();

    })

</script>
