{% load i18n %}
{% load crud_tags i18n %}


<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{% trans "Adicionar" %} {{ model_verbose_name }}</h4>
</div>

{% include "cruds/ajax/_form.html" with action='create' %}
