{% load i18n cruds_menu%}
{% with request.user as user %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% block nav_links_ul %}
            <ul class="sidebar-menu">
                {% block nav_links_outer %}
                    <!-- <li class="header">{% block nav_heading %}MENU PRINCIPAL{% endblock %}</li> -->
                    {% block nav_links %}
                    
                        <li class="">
                            <a title="Que bom te ver por aqui novamente!" href="#" onclick="return false;">
                                <i class="fa fa-user-circle"></i> 
                                <span>
                                    {% trans "Olá" %} <strong>{{ user.first_name|default:user.username|default:"Admin"|truncatechars:10 }}</strong>,<br>
                                    {% trans "Seja bem-vindo de volta!" %}
                                </span>

                                <span class="pull-right-container"></span>
                            </a>
                            
                        </li>
                        {% get_cruds_menu request as menu %}
                        {% for item in menu %}
                            {% if item.has_permission %}
                                <li class="treeview {{ item.get_is_active_css_class }}">
                                <a class="menu-parent-link" href="{% if item.has_children %}#{% else %}{{ item.get_link }}{% endif %}">
                                    <i class="{% if item.icon %}{{ item.icon }}{% else %}fas fa-th{% endif %}"></i>
                                    <span>{{ item.titulo }}</span>
                                    <span class="pull-right-container">
                                    {% if item.has_children %}
                                        <i class="fa fa-angle-left pull-right"></i>
                                    {% endif %}
                                </span>
                                </a>
                                {% if item.has_children %}
                                    <ul class="treeview-menu">
                                        {% for subitem in item.children  %}
                                            {% if subitem.has_permission %}
                                                <li  class="{% if subitem.has_children %}treeview{% endif %} {{ subitem.get_is_active_css_class }}" >
                                                    <a href="{% if subitem.has_children %}#{% else %}{{ subitem.get_link }}{% endif %}">
                                                        <i class="{% if subitem.icon %}{{ subitem.icon }}{% else %}fas fa-chevron-right{% endif %}"></i>
                                                        <span>
                                                            {{ subitem.titulo }}
                                                            {% if subitem.live_options %}
                                                                <span class="live-update live-update-badge" data-livename="{{ subitem.live_options.name }}">0</span>
                                                            {% endif %}
                                                        </span>
                                                    </a>
                                                    {% if subitem.has_children %}
                                                        <ul class="treeview-menu">
                                                            {% for child in subitem.children  %}
                                                                <li class="{% if child.has_children %}treeview{% endif %} {{ child.get_is_active_css_class }}">
                                                                    <a href="{{ child.get_link }}">
                                                                        <i class="{% if child.icon %}{{ child.icon }}{% else %}fas fa-chevron-right{% endif %}"></i>
                                                                        <span>{{ child.titulo }}</span>
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}

                        <li class="">
                            <a title="Encerrar sessão" href="{% url 'cruds_logout' %}">
                                <i class="fa fa-sign-in-alt"></i>
                                <span>{% trans "Sair" %}</span>
                                <span class="pull-right-container"></span>
                            </a>
                        </li>
                    {% endblock nav_links %}
                {% endblock nav_links_outer %}
            </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>
{% endwith %}