{% load adminlte_helpers i18n static %}
<header class="main-header">
    <!-- Logo -->
    {% block logo %}
        <a href="{% block logo_href %}{% url 'cruds_admin' %}{% endblock %}" class="logo">
{#            <!-- mini logo for sidebar mini 50x50 pixels -->#}
{#            <span class="logo-mini">#}
{#        </span>#}
{#            <!-- logo for regular state and mobile devices -->#}
{#            <span class="logo-lg"></span>#}
        </a>
    {% endblock %}

    <!-- Header Navbar: style can be found in header.less -->
    {% block nav_bar %}
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-chevron-right"></i>
            </a>
        </nav>
    {% endblock %}

    
</header>
