{% load static i18n%}
<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
            <img src="{% static 'cruds/css/img/logo-os3.svg' %}" height="20" width="20"> {% trans "Pense Simples Pense OS3" %}.
        </div>
      </div>
    </div>
    
</footer>
