{% load static %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>



<script src="{% static "cruds/bootstrap/dist/js/bootstrap.min.js" %} "></script>
<script src="{% static "cruds/admin-lte/dist/js/app.min.js" %}"></script>


<script src="{% static 'cruds/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'cruds/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'cruds/input-mask/jquery.inputmask.extensions.js' %}"></script>


<script src="{% static 'cruds/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'cruds/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'cruds/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'cruds/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'cruds/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
{#<script src="{% static 'cruds/datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js' %}"></script>#}
<script src="{% static 'cruds/icheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/select2/dist/js/i18n/pt-BR.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.post-setup.js' %}"></script>
<script src="{% static "cruds/js/cruds.js" %}"></script>

{% endblock %}
