{% load static %}

{% block styles %}
{#<link rel="stylesheet" type="text/css"#}
{#      href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}"/>#}
<link rel="stylesheet" type="text/css" href="{% static "cruds/bootstrap/dist/css/bootstrap.min.css" %}">

<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'cruds/fontawesome5/css/all.min.css' %}">

<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'cruds/admin-lte/bower_components/Ionicons/css/ionicons.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static "cruds/admin-lte/dist/css/AdminLTE.css" %}?v=2">
<link rel="stylesheet" type="text/css" href="{% static "cruds/admin-lte/dist/css/skins/_all-skins.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "cruds/icheck/skins/minimal/blue.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "cruds/conflicts/conflicts.css" %}">
<link rel="stylesheet" type="text/css" href="{% static 'cruds/datepicker/datepicker3.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cruds/colorpicker/bootstrap-colorpicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cruds/timepicker/bootstrap-timepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cruds/datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
{#<link rel="stylesheet" type="text/css" href="{% static "cruds/select2/css/select2.min.css" %}">#}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static "cruds/css/cruds.css" %}">


<style type="text/css">.main-header .sidebar-toggle::before {content: "";}</style>
{% endblock %}
