<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.is_initial %}
    {{ widget.initial_text }}:
    <a title="{{ widget.value }}" href="{{ widget.value.url }}">{{ widget.value|truncatechars:20 }}</a>
    {% if not widget.required %}
        <br/>
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"
                {% if widget.attrs.disabled %} disabled{% endif %}> {{ widget.clear_checkbox_label }}
    {% endif %}
    <br/>

{% endif %}
