{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="input-group date">
    <div class="input-group-addon">
        <i class="fa {% if icon %}{{ icon }}{% else %}fa-calendar{% endif %}"></i>
    </div>
    <input type="text" class="{{ class }}" data-date-format="{{ format }}" name="{{ name }}" 
    id="{{ id }}" value="{{ value }}" />
</div>
<script>
$(function () {
    $('#{{ id }}').datetimepicker({
        autoclose: true,
        language: '{{ LANGUAGE_CODE }}',
		format: "dd/mm/yyyy hh:ii"
    });

});
</script>