@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    color: #606060;
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
}

/* pro sidebar não ficar por cima do footer no mobile */
.sidebar-open .content-wrapper, .sidebar-open .main-footer {
    transform: none !important;
}

/*****************
sidebar toggle
*********************/
.sidebar-toggle .fa-chevron-left{
    display: inline-block;
}
.sidebar-toggle .fa-chevron-right{
    display: none;
}

.sidebar-collapse .sidebar-toggle .fa-chevron-left{
    display: none;
}

.sidebar-collapse .sidebar-toggle .fa-chevron-right{
    display: inline-block;
}

/*****************
Escrevendo Padrao Textos Geral
************************************/
.treeview-menu > li > a, .btn{
    font-size: inherit;
}

/*********************
Display General Content
************************************/
.breadcrumb {
    background-color: #fff;
}

.content-wrapper{
    background-color: #efefef ;
}

.content-header > h1 > small{
    display: block;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    .content{min-height: 600px;}
}
/*********************
Data Listing & Panels
*******************************/
.box{ border-top-width: 2px; }


.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 4px;
    vertical-align: middle;
    font-size: 11px;
}

/**************************
Forms e Controles
*******************************/

.btn-default {
    background-color: #0072bc !important;
    color: #fff !important;
}

.btn, .button,
input[type=submit],
input[type=button],
.submit-row input, a.button{
    /* padding: 0.525em 1.825em;
    border-radius: 15px; */
    /* padding: inherit;
    border-radius: inherit; */
}

.btn+.btn-sep{
    margin-left: 2em;
}

/* botoes que precisam ir pra direita no form de requisicoa de reparo */
.btn-right+.btn-right {
    margin-right: 1.5em;
}

.select2-container {width: 100% !important;}
.select2-container--default .select2-results__option {
    white-space: pre;
}

/*Search*/
.input-group-btn>.btn{
    padding: 5px 8px;
    border-radius: 4px;
    height: 34px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;
    color: inherit;
    border: 1px solid #ccc;
    border-left: none;

}

.input-group-btn>.btn:hover{
    background-color: #0b97c4;

}


#submit-id-submit{
    padding: 0.325em 0.75em !important;
    background-color: #79aec8 !important;
}

.form-group label {
    display: block;
    margin: 8px 0 3px 0;
}

.form-control{
    font-size: inherit;
}

legend {
    font-size: 1.5rem;
}

.go-away{
    position: absolute;
    left: -10000000000000000px;
}

.btn-delete-row{
    color: darkred !important;
}

.btn-delete-row .fas{
    font-size: 2.25em;
    margin-top: 31px;
}

.btn-delete-row:hover{
    color: red !important;
}
.d-block{
    display: block
}
.d-inline{
    display: inline-block;
}

/*****************
footer
***********************/
.main-footer{
    margin-left: inherit;
    background: #222d32;
    color: white;
}

.modal-textarea textarea{height: 60px;}
.form-textarea textarea{height: 80px;}

.btn-block:hover{

}
.multiselect-choices .btn:hover, .multiselect-choices .btn{
    background-color: #0b97c4;

}

input[readonly]{background-color: #ccc;}

/* UTILITIES */
.w-100 {
    width: 100%;
}

/* modal vertically centered for bootstrap 3 */
.modal-dialog-centered {
    text-align: center;
    padding: 0 !important;
}

.modal-dialog-centered:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog-centered .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.form-check{display: inline; float: left; padding: 2px 10px 2px 0;}

/* mantendo padrao admin lte */
button, .button, input[type="submit"], input[type="button"], .submit-row input, a.button{padding: 0.325em 0.75em !important;}
.form-group{padding-left: 15px;}

.form-filter .row .col-sm-3{margin-bottom: 5px;}
.form-filter .row {justify-content: flex-start!important;}


.wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

ul li{
    list-style-type: none;
}

.btn {
    color: #fff !important;
}

.user-footer > div > a {
  color: black !important;
}

.nav-tabs>li {
    margin-bottom: -2px;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px !important;
    padding-left: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, textarea:focus,
select:focus, .vTextField:focus {
    border-color: #3c8dbc !important;
}

#submit-id-submit {
    padding: 7px 12px !important;
    background-color: #3c8dbc !important;
}

#submit-id-submit:hover {
    background-color: #367fa9 !important;
}

.th-fieldtype-booleanfield {
    text-align: center !important;
}

.td-fieldtype-booleanfield .true i{
    color: green;
}

.td-fieldtype-booleanfield .false i{
    color: red;
}

.filters {
    margin: 10px 0 0 0;
}

.filters .select2 {
    width: 100% !important;
}

.filter {
    padding: 6px 12px !important;
    border: 1px solid #6ab1e8 !important;
}



.parler-language-tabs {
    border-bottom: 1px solid #090808;
    display: flex;
}

.parler-language-tabs div {
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    left: 0;
    font-weight: bold;
    margin: 0;
}

.parler-language-tabs div.available {
  /*border-color: #C4DCE8;*/
}
.parler-language-tabs div.current {
    background-color: #3c8dbc;
    color: #fff;
}

/* label positioning fix */
input[type="checkbox"] + label, .custom-checkbox label {
    display: inline;
}
