{% load crud_tags %}


{% crud_url object "update" namespace as url %}
{% crud_url object "detail" namespace as url_detail %}

{% if url and 'update' in views_available and crud_perms.update %}
    <a href="{{ url }}{{getparams}}">
        #{{ object|format_value:field }}
    </a>
{% elif url_detail and 'detail' in views_available and crud_perms.detail %}
    <a href="{{ url_detail }}{{getparams}}">
        #{{ object|format_value:field }}
    </a>
{% else %}
    #{{ object|format_value:field }}
{% endif %}