{% extends 'cruds/base.html' %}
{% load i18n %}


{% block title %}{% trans "Error 403" %}{% endblock %}
{% block page_name %} {% trans "Error 403" %} {% endblock %}
{% block content %}

<h1> {% trans "Você não tem permissão para visualizar essa página" %}</h1>

<a class="btn btn-success" href="/">{% trans "Voltar para página principal" %} </a>

{% endblock %}