{% load static crispy_forms_tags i18n%}
<div class="row clearfix">
    <div class="col-md-12">
        {% for inline in inlines %}
            <div id="inline-{{ inline.formset.prefix }}" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ inline.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ inline.formset.management_form }}
                    {% for form_child in inline.formset %}
                        {% for hidden in form_child.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% if form_child.helper %}
                            {% crispy form_child %}
                        {% else %}
                            {{ form_child|crispy }}
                        {% endif %}
                    {% endfor %}
                </div>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.formset-row', '#inline-{{ inline.formset.prefix }}').formset({
                            addText: '<i class="fas fa-plus-circle"> {% trans "Adicionar" %}</i>',
                            deleteText: '<i class="fas fa-times-circle"></i>',
                            addCssClass: 'btn btn-success btn-add-row',
                            deleteCssClass: 'btn-delete-row',
                            prefix: '{{ inline.formset.prefix|safe }}',
                        });
                    })
                </script>
            </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        {% if inlines %}
            $('.controls input[type="submit"]').parents('.form-group').remove().appendTo($('.box-body > .col-md-12'));
        {% endif %}
    })
</script>