{% load i18n %}
{% load crispy_forms_tags crud_tags%}
{% get_current_language as LANGUAGE_CODE %}
{% if not form.helper %}
    {{ form.media }}
{% endif %}
{% if language_tabs %}
    <div class="parler-language-tabs{% if language_tabs.css_class %} {{ language_tabs.css_class }}{% endif %}">
        {% for url,name,code,status in language_tabs %}
            {% if status == 'current' %}
                <input type="hidden" class="language_button selected" name="{{ code }}" />
                <div class="current">{{ name }}</div>
            {% else %}
                <div class="{{ status }}">
                    <a href="{{ url }}">{{ name }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<form action="{% if action == 'create'%}{{url_create}}{%else%}{{url_update}}{% endif %}?{{ request.GET.urlencode }}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="main-box" class="box-body row">
        <div class="col-md-12">
            {% if form.helper %}
                {% crispy form %}
            {% else %}
                {{ form|crispy }}
            {% endif %}
            {% if inlines and action == 'create' %}
                {% include "cruds/_form_inlines.html" with inlines=inlines %}
            {% endif %}
        </div>
    </div>
    {% has_form_actions form as action_result %}
    {% if not action_result %}
        <div class="box-footer">
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">{% trans "Salvar" %}</button>
                    {% if url_delete %}
                        <a href="{{ url_delete }}" class="btn btn-danger">{% trans "Apagar" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</form>
<script type="text/javascript">
	jQuery(document).ready(function($) {
        $("input[data-number='yes']").each(function (){
            VMasker(document.getElementById($(this).attr('id'))).maskMoney();
        });
        $('.content-wrapper .nav-tabs .nav-link.active').click();
        $('.dateinput').datepicker({
            format: 'dd/mm/yyyy',
            language: '{{ LANGUAGE_CODE }}',
            autoclose: true
        });
        // pinta abas
        $('button[type="submit"], input[type="submit"]').click(function (){
            let okall = true;
            $('#main-box .nav-tabs .tab-pane a').each(function(){
               let ok = true;
               $($(this).attr('href')).find('[required]').each(function (){
                   if(!$('#' + $(this).attr('id')).val()){
                       ok=false;
                   }
               });
               if(!ok){
                    $(this).addClass('text-red');
                    okall = false;
               }else{
                    $(this).removeClass('text-red');
               }
            });
            if(!okall)
                alert('{% trans "Existem campos obrigatórios para serem preenchidos, favor verificar nas aba(s) em vermelho." %}');
        });
	});
</script>
