<!DOCTYPE html>
<html>
<head>

    {% load static i18n %}

    {% block title_outer %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel='shortcut icon' type='image/png' href='{% static 'img/favicon.png' %}' />
    {% endblock %}

    {% block css %}{% endblock css %}
    {% block stylesheets %}
        {% include 'cruds/adminlte/lib/_styles.html' %}
    {% endblock %}

    {% block javascript %}
        <script src="{% static "cruds/jquery/dist/jquery.min.js" %}"></script>
        {% include 'cruds/adminlte/lib/_scripts.html' %}
        <script type="text/javascript" src="{% static 'cruds/jquery-cookie/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'cruds/django_ajax/js/jquery.ajax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'cruds/django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'cruds/js/multiselect.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'cruds/js/vanilla-masker.min.js' %}"></script>
        <script src="{% static "cruds/js/numeral/numeral.js" %}"></script>
        <script src="{% static "cruds/js/numeral/locales.js" %}"></script>
    {% endblock %}
    {% block js %}{% endblock js %}

    {% block extra_head %}{% endblock %}
</head>
<body class="hold-transition skin-black sidebar-mini {% block body_class %}base{% endblock body_class %}">

{% block body %}
    <div class="wrapper">
        {% block nav_header %}
            {% include 'cruds/adminlte/lib/_main_header.html' %}
        {% endblock %}
        {% block nav_sidebar %}
            {% include 'cruds/adminlte/lib/_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                    <h1>
                        {% block page_name %}{% endblock %}
                        {% block no_description %}
                        <small>{% block page_description %}{% endblock %}</small>
                        {% endblock %}
                    </h1>
                    {% block breadcrumbs %}
                    {% endblock %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'cruds/adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </section>
            {% endblock %}

        </div>
        {% endblock content_wrapper %}
    </div>
{% endblock body %}

{% block nav_footer %}
    {% include 'cruds/adminlte/lib/_main_footer.html' %}
{% endblock %}

{% block extra_foot %}{% endblock %}

{% if request.user.is_authenticated and request.user.is_impersonate %}
    <div style="line-height:100%; opacity:0.8; text-align:center; background-color: #ffb4a5; font-size: 1em; color:#ff2a00; border:solid 1px #ff2a00; padding:2px 0; position: absolute; top: 0; width: 100%; z-index: 999999;">
        <a style="display:block; float:right; margin:-2px 4px 0 0;" href="{% url 'impersonate-stop' %}">[X]</a>
        {% trans 'Voc&ecirc; est&aacute; acessando o site com o usu&aacute;rio' %} {{ request.user.get_full_name }}.
    </div>
{% endif %}
</body>
</html>