{% extends "cruds/base.html" %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% trans "Alterar senha" %}{% endblock %}
{% block page_name %}{% trans "Alterar senha" %}{% endblock %}

{% block content %}
    <ol class="breadcrumb" style="text-align: right">
        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans "Início"%}</a></li>
        <li class="active">{% trans "Alterar senha" %}</li>
    </ol>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Alterar senha" %}</h3>
                        {% if user %}
                            - {% trans "Usuário" %} <strong>{{ user }}</strong>
                        {% endif %}

                </div>
                {% include "cruds/_form.html" with action='update' %}
            </div>
        </div>
    </div>
{% endblock %}

