{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Novo" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{#{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}#}
{#{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Novo" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}#}

{% block content %}
    <ol class="breadcrumb" style="text-align: right">
        <li style="float: left;">{% trans "Criar" %} {{ model_verbose_name_plural|lower }}</li>
        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans "Início" %}</a></li>
        <li><a href="{{ url_list }}?{{ request.GET.urlencode }}">{{ model_verbose_name_plural|lower }}</a></li>
        <li class="active">{{ model_verbose_name_plural|lower }} </li>
    </ol>
    <div class="row">
        <div class="col-xs-12">
            {% if crud_perms.list %}
                <a href="{{ url_list }}{{getparams}}" class="btn btn-info">
                    <i class="fa fa-angle-double-left"></i>
                    {% trans "Voltar para" %} {{ model_verbose_name_plural|lower }}
                </a>
            {% endif %}
            {% block extraback %}
            {% endblock %}
            <br /><br />
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Adicionar" %} "{{ model_verbose_name }}"</h3>
                </div>
                {% include "cruds/_form.html" with action='create' %}
            </div>
        </div>
    </div>
{% endblock %}
