{% extends template_father %}
{% load i18n %}
{% load crud_tags %}


{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Remover" %} {{ model_verbose_name|lower }}{% endif %}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{#{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}#}
{#{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Remover" %} {{ object }}{% endif %}{% endblock %}#}


{% block content %}
    <ol class="breadcrumb" style="text-align: right">
    <li style="float: left;">{% trans "Remover" %} {{ model_verbose_name_plural|lower }}</li>
    <li><a href="/"><i class="fa fa-dashboard"></i> {% trans "Início" %}</a></li>
        <li><a href="{{ url_list }}{{getparams}}">{{ model_verbose_name_plural|lower }}</a></li>
        <li class="active">{{ object|truncatewords:3 }}</li>
    </ol>

<div class="row">
  <div class="col-xs-12">
      {% if url_list and 'list' in views_available and crud_perms.list %}
          <a href="{{ url_list }}{{getparams}}" class="btn btn-info">
              <i class="fa fa-angle-double-left"></i>
              {% trans "Voltar para" %} {{ model_verbose_name_plural|lower }}
          </a>
      {% endif %}
      <br /><br />
      <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">{% trans "Deseja realmente remover" %} "{{ object }}"?</h3><br/>
              <strong style="color:red;">
                  {% trans "Todos os registros de outros cadastros que por ventura estejam usando essa informação também serão apagados!" %}
              </strong>
              <ul>{{ deleted_objects|unordered_list }}</ul>
          </div>

          <form action="{{ url_delete }}{{getparams}}" method="POST">
            {% csrf_token %}
        
            <div class="box-header">
              
              <a href="{{ url_list }}{{getparams}}" class="btn btn-warning">{% trans "Cancelar" %}</a>

              <button type="submit" class="btn btn-danger btn-sep">{% trans "Confirmar" %}</button>

            </div>
        </form>

      </div>
  </div>
</div>

  
  
{% endblock %}
