{% extends "cruds/list.html" %}
{% load crud_tags i18n static %}
{% block actions %}
    {% crud_url object "detail" namespace as url %}
    {% if url and 'detail' in views_available and crud_perms.detail %}
        <a href="{{ url }}{{getparams}}" class="btn btn-success">
            <i class="fa fa-info-circle"></i>
        </a>
    {% endif %}
    {% crud_url object "update" namespace as url %}
    {% if url and 'update' in views_available and crud_perms.update %}
        <a href="{{ url }}{{getparams}}" class="btn btn-primary">
            <i class="fa fa-edit"></i>
        </a>
    {% endif %}
    {% if object.pessoa_ptr_id %}
        <a href="#" class="btn btn-warning btn-resetar-senha" title="{% trans 'Resetar Senha' %}"
           data-url="{% url 'resetar_senha' object.pessoa_ptr_id %}">
            <i class="fas fa-undo-alt"></i>
        </a>
    {% endif %}
    {% crud_url object "delete" namespace as url %}
    {% if url and 'delete' in views_available and crud_perms.delete %}
        <a href="{{ url }}{{getparams}}" class="btn btn-danger" >
            <i class="fa fa-trash-alt"></i>
        </a>
    {% endif %}
{% endblock %}
{% block extra_foot %}
    <div id="resetar_senha_wrapper"></div>
    <link rel="stylesheet" href="{% static 'btnSwitch/jquery.btnswitch.min.css' %}">
    <script src="{% static 'btnSwitch/jquery.btnswitch.min.js' %}"></script>
    <script type="text/javascript">
        jQuery(function () {
            $('.btn-resetar-senha').click(function () {
                const _this = $(this);
                console.log( _this.attr('data-url'));
                $.ajax({
                    url: _this.attr('data-url'),
                    method: "get",
                    async: true,
                    success: function (data) {
                        $('#resetar_senha_wrapper').html(data);
                        $('#resetar_senha_modal').modal('show');
                    }
                });
            });
        });
    </script>
{% endblock %}