{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Lista de" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{#{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}#}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% endif %}{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(function(){
        $('.form-filter input[type="text"]').addClass('form-control');
        
        $('.btn-fake-submit').click(function(){
            $($(this).attr('data-submit')).trigger('click');
            return false;
        });


        $('.ajax-action').click(function(e) {
            e.preventDefault();

            _this = $(this);

            [_url, _data] = _this.attr('href').split('?');

            $.post(_url, _data);
        });

        modal_list_view = $('#modal-list-view');
        modal_list_view_content = $('.modal-content', modal_list_view);

        $('.open-modal').click(function(e) {
            e.preventDefault();

            _this = $(this);

            [_url, _data] = _this.attr('href').split('?');

            modal_list_view_content.load(_url, _data);
            modal_list_view.modal('show');
        });
    })
</script>
{% endblock %}

{% block content %}
    <ol class="breadcrumb" style="text-align: right">
        <li style="float: left;">{% trans "Lista de" %} {{ model_verbose_name_plural|lower }}</li>
        <li><a href="{% url 'cruds_admin' %}"><i class="fa fa-dashboard"></i> {% trans "início"%}</a></li>
        <li>{{ model_verbose_name_plural|lower|truncatewords:3 }}</li>
    </ol>
    {% block boxheaderfilter %}
    {% endblock %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form action="" method="get">
                    <div class="box-header">
                          <div class="row create">
                            {% if url_create %}
                            <div class="col-lg-6">
                                {% crud_url object "create" namespace as url %}
                                {% if url and 'create' in views_available and crud_perms.create %}
                                  <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                    {% trans "Adicionar" %} {{ model_verbose_name|lower }}
                                  </a>
                                {%endif%}
                            </div>
                            {% endif %}
                            {% if search %}
                                <div class="col-lg-6 search">
                                    <div class="input-group">
                                        <input type="text" name="q" value="{{q}}" class="form-control" placeholder="{% trans 'Pesquisar Por...' %}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-flat" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        {% if filters %}
                            <div class="filters">
                                <div class="box box-warning {% if not request.GET %}collapsed-box{%endif%}">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">{% trans 'Filtros' %}</h3>
                                        <div class="box-tools pull-right">
                                            <button data-widget="collapse" class="btn btn-box-tool btn-success" type="button">
                                                <i class="fa {% if not request.GET %}fa-plus{%else%}fa-minus{%endif%}"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="">
                                        <table class="table">
                                            {% for filter in filters %}
                                                {{filter.render }}
                                                {{filter.form.media}}
                                            {% endfor %}
                                        </table>
                                        <input type="submit" id="submit-filter" class="go-away" value="{% trans 'Filtrar' %}" />
                                        <a class="btn btn-success btn-fake-submit" data-submit="#submit-filter" href="#" >
                                              <i class="fa fa-filter"></i> {% trans 'Filtrar' %}
                                        </a>
                                        <a class="btn btn-warning" href="?">
                                            <i class="fa fa-undo"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif%}
                    </div>
                </form>
                {% block object-tools-items %}{% endblock %}

                <div class="box-body table-responsive">
                    {% if paginate_position == 'Up' or paginate_position == 'Both' %}
                        {% include paginate_template %}
                    {% endif %}
                    <table id="datatable" class="table  table-bordered table-hover">
                        {% if object_list %}
                            <thead>
                            {% block thead %}
                                {% block thfields %}
                                    {% for field, field_name in fields.items %}
                                        <th class="th-field-{{ field|lower }} th-fieldtype-{{ field_name.1|lower }}">{{ field_name.0 }}</th>
                                    {% endfor %}
                                {% endblock %}
                                <th class="text-right pr-5" style="min-width: 150px;">{% trans "Ações" %}</th>
                            {% endblock thead %}
                            </thead>
                            <tbody>
                            {% block tbody %}
                                {% for object in object_list %}
                                    <tr {% block trclass %} {% endblock %}>
                                        {% block tdfields %}
                                            {% for field, field_name in fields.items %}
                                                <td class="td-field-{{ field|lower }} td-fieldtype-{{ field_name.1|lower }}">
                                                    {% if field_name.1 == '' %}
                                                        {% include "cruds/columns/function.html" %}
                                                    {% else %}
                                                        {% with column=field_name.1|lower|add:".html" %}
                                                            {% include "cruds/columns/"|add:column %}
                                                        {% endwith %}
                                                    {% endif %}
                                                    {# typefield #}
                                                </td>
                                            {% endfor %}
                                        {% endblock %}
                                        <td class="text-right">
                                            {% block actions %}
                                                {% crud_url object "detail" namespace as url %}
                                                {% if url and 'detail' in views_available and crud_perms.detail %}
                                                    <a href="{{ url }}{{getparams}}" class="btn btn-success">
                                                        <i class="fa fa-info-circle"></i>
                                                        <!-- {% trans "Visualizar" %} -->
                                                    </a>
                                                {% endif %}
                                                {% crud_url object "update" namespace as url %}
                                                {% if url and 'update' in views_available and crud_perms.update %}
                                                    <a href="{{ url }}?change_list={{ request.GET.urlencode }}" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        <!-- {% trans "Editar" %} -->
                                                    </a>
                                                {% endif %}
                                                {% crud_url object "delete" namespace as url %}
                                                {% if url and 'delete' in views_available and crud_perms.delete %}
                                                    <a href="{{ url }}{{getparams}}" class="btn btn-danger">
                                                        <i class="fa fa-trash-alt"></i>
                                                        <!-- {% trans "Apagar" %} -->
                                                    </a>
                                                {% endif %}
                                                {% with impersonate_url=object.impersonate_url %}
                                                    {% if impersonate_url and request.user.is_superuser %}
                                                        <a href="{{ impersonate_url }}" class="btn btn-warning" target="_blank">
                                                            Impersonate
                                                        </a>
                                                    {% endif %}
                                                {% endwith %}
                                                {% if view.actions %}
                                                    <span>
                                                        {% for action in view.actions %}
                                                            {% action view object action %}
                                                        {% endfor %}
                                                    </span>
                                                {% endif %}
                                            {% endblock %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock tbody %}
                            </tbody>
                            {% block tfooter %}
                            {% endblock %}
                        {% else %}
                            <thead><th></th></thead>
                            <tbody><tr><td>Nenhum registro ainda</td></tr></tbody>
                        {% endif %}
                    </table>

                    {% if paginate_position == 'Bottom' or paginate_position == 'Both' %}
                        {% include paginate_template %}
                    {% endif %}
                </div>

                <div class="box-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-centered" id="modal-list-view" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock content %}
