{% extends "cruds/adminlte/base.html" %}
{% load i18n %}
{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
{#        <div class="login-logo">#}
            {# Mirrors block names used in _main_header.html #}
{#            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Admin</b>LTE{% endblock %}</a>#}
{#        </div>#}
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body" style="margin-bottom: 300px;">
            {% block login_form %}
                <h4 class="co-blue text-uppercase text-center"><i class="fas fa-lock"></i> <strong>{% trans "Autenticação" %}</strong></h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.usuario.label }}
                        {{ form.usuario }}
                        {{ form.usuario.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.senha.label }}
                        {{ form.senha }}
                        {{ form.senha.errors }}
                    </div>
                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary" type="submit">
                            {% trans "Entrar" %}
                        </button>
                    </div>
                </form>
            {% endblock login_form %}

        </div>
    </div>
{% endblock %}
