<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <select class="form-control" id="id_{{ widget.name }}_from" size="8" multiple="multiple" data-select="multiselect">
            {% for group_name, group_choices, group_index in widget.optgroups %}
                {% if group_name %}
                    <optgroup label="{{ group_name }}">
                {% endif %}
                    {% for option in group_choices %}
                        {% if not option.selected %}
                            {% include option.template_name with widget=option %}
                        {% endif %}
                    {% endfor %}
                {% if group_name %}
                  </optgroup>
                {% endif %}
            {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group multiselect-choices">
            <button type="button" id="id_{{ widget.name }}_rightAll" class="btn btn-block "><i class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="id_{{ widget.name }}_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="id_{{ widget.name }}_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="id_{{ widget.name }}_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <select name="{{ widget.name }}" id="id_{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} data-select="multiselect">
                {% for group_name, group_choices, group_index in widget.optgroups %}
                    {% if group_name %}
                        <optgroup label="{{ group_name }}">
                    {% endif %}
                        {% for option in group_choices %}
                            {% if option.selected %}
                                {% include option.template_name with widget=option %}
                            {% endif %}
                        {% endfor %}
                    {% if group_name %}
                      </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
      $('#id_{{ widget.name }}_from').multiselect({
            right: '#id_{{ widget.name }}',
            rightSelected: '#id_{{ widget.name }}_rightSelected',
            leftSelected: '#id_{{ widget.name }}_leftSelected',
            rightAll: '#id_{{ widget.name }}_rightAll',
            leftAll: '#id_{{ widget.name }}_leftAll',
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Pesquisar..." />',
                right: '<input type="text" name="q" class="form-control" placeholder="Pesquisar..." />',
            },
            fireSearch: function(value) {
                return value.length > 3;
            },
            afterMoveToLeft: function($left, $right, $options) {
                $('#id_{{ widget.name }}_from option').each(function(){
                      $(this).attr('title', $(this).html());
                });
            },
            afterMoveToRight: function($left, $right, $options){
                $('#id_{{ widget.name }} option').each(function(){
                      $(this).attr('title', $(this).html());
                });
            }
        });
        $('#id_{{ widget.name }}_from option').each(function(){
              $(this).attr('title', $(this).html());
        });
        setTimeout(function(){
            $('#id_{{ widget.name }} option').each(function(){
                  $(this).attr('title', $(this).html());
            });
        },2000)
    });
</script>